body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: linen;
  color: lightslategray;
  text-align: center; }
  body header {
    display: flex;
    flex-flow: row nowrap;
    color: white;
    background-color: #bb6b6b;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto; }
    body header h1 {
      margin: 20px;
      font-family: Arial, Helvetica, sans-serif; }
    body header nav {
      background-color: #558a8a;
      width: 70%;
      display: flex; }
      body header nav a {
        text-decoration: none;
        color: floralwhite;
        flex-grow: 1;
        padding: 10px;
        margin: auto;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center; }
      body header nav a:hover {
        text-decoration: none;
        color: #bb6b6b;
        background-color: floralwhite;
        flex-grow: 1;
        padding: 10px;
        margin: auto;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center; }
  body footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #558a8a;
    align-items: center; }
    body footer p {
      font-size: 12px;
      text-align: center;
      color: floralwhite;
      padding: 10px; }
  body data {
    vertical-align: middle; }
  body .contenedor {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin: auto; }
  body .titulos {
    color: #558a8a;
    padding: 10px; }
  body .parrafos {
    color: black; }
  body section article {
    background-color: #f3eded;
    width: 350px;
    height: 200px;
    padding: 30px;
    display: inline-block;
    position: relative;
    margin: 25px; }
  body table {
    margin: 20px;
    width: 80%;
    text-align: center; }
    body table tr th {
      padding: 5px;
      margin: 5px; }
  body .galeria {
    display: block;
    margin: auto;
    width: 100%;
    height: 612px;
    background-image: url("../img/cl.JPG");
    animation-name: galeriafotos;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    animation-delay: 2s;
    animation-timing-function: ease; }

@keyframes galeriafotos {
  0% {
    background-image: url("../img/cl.JPG"); }
  25% {
    background-image: url("../img/02.JPG"); }
  50% {
    background-image: url("../img/03.JPG"); }
  75% {
    background-image: url("../img/04.JPG"); } }
  body .nombres {
    margin: auto; }
  body .card {
    margin: auto; }
  body .biblioteca {
    width: 400px; }
  body .h5__titulodatos {
    color: #bb6b6b; }
  body .pinkBackgound {
    background-color: #bb6b6b; }
  body .pinkBackgound:hover {
    background-color: #558a8a; }
  body .itemCenter {
    width: 80%;
    margin-left: 10%; }

.grid {
  text-align: center;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "px pe pe pe pe py"
 "servicio1 servicio1 servicio2 servicio2 servicio3 servicio3"
 "servicio4 servicio4 servicio5 servicio5 servicio6 servicio6"; }

p#py {
  grid-area: py; }

p#px {
  grid-area: px; }

p#pe {
  grid-area: pe;
  color: #bb6b6b;
  font-size: 20px;
  font-weight: bold; }

h3#servicio1 {
  padding: 20px;
  grid-area: servicio1; }

h3#servicio2 {
  padding: 20px;
  grid-area: servicio2; }

h3#servicio3 {
  padding: 20px;
  grid-area: servicio3; }

h3#servicio4 {
  padding: 20px;
  grid-area: servicio4; }

h3#servicio5 {
  padding: 20px;
  grid-area: servicio5; }

h3#servicio6 {
  padding: 20px;
  grid-area: servicio6; }

.carouselLocation {
  position: center; }

.container {
  margin-top: 10%; }

.card-body {
  color: #bb6b6b;
  border-width: 5px;
  border-color: #558a8a;
  background-color: floralwhite; }
